/** GENERAL **/

html {
  font-size: 16px;
}

body {
font-family: 'Lato', sans-serif;
}

.main-content{
  min-height: 70vh;
}

.padding--small {
  padding-top: 1rem;
}

.margin--small {
  margin-top: 1rem;
}
.tc {
  text-align: center;
}

/** TITULOS **/

.titulo-site {
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0;
}

.subtitulo-site {
  font-weight: 300;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .titulo-site {
    font-size: 4rem;
  }
  .subtitulo-site {
    font-size: 1.9rem;
  }
}

/** MENU PRINCIPAL **/

.menu-principal {
  display: none;
  font-size: 1.1rem;
  padding-left: 0;
  border-top: solid 3px black;
  margin-top: 1rem;
}

.show-menu {
  display: block;
}

.menu-principal--item {
  margin: auto;
  list-style: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-principal .active {
  font-weight: 700;
}

.menu-principal--link {
  color: black;
  text-decoration: none;
  padding-top: 0.6rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.menu-principal--link:hover {
  text-decoration: none;
  font-weight: 700;
}

/* NAV BUTTON */

.container-nav {
    display: block;
    cursor: pointer;
    width: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

@media (min-width: 768px) {
  .menu-principal {
    display: flex;
    justify-content: space-between;
    border-top: none;

  }
  .menu-principal--link {
    border-top: solid 1px black;
  }
  .menu-principa--item {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .container-nav {
    display: none;
  }
  .menu-principal .active a, .menu-principal--link:hover {
    border-top: solid 3px black;
  }
  .menu-principal--link:hover {
    color: black;
  }
}

/* SLIDER */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 110%;
  border: 0;
  }

/*****/

.sobre-text {
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  max-width: 960px;
  margin: auto;
}

.big-bold {
  font-size: 36px;
  font-weight: 900;
}

.contato-form, .contato-text {
  max-width: 560px;
  margin: auto;
  font-size: 16px;
}

.contato-text b {
  font-size: 22px;
}

.contato-text .glyphicon {
  font-size: 26px;
  padding-bottom: 10px;
}

.contato-text .col-sm-6 {
  padding-bottom: 10px;
}

#aniimated-thumbnials-1 img, #aniimated-thumbnials-2 img, #aniimated-thumbnials-3 img, #aniimated-thumbnials-4 img {
  height: 200px;
  margin: 5px;
}

#aniimated-thumbnials-1, #aniimated-thumbnials-2, #aniimated-thumbnials-3, #aniimated-thumbnials-4 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

#aniimated-thumbnials-1 a:hover, #aniimated-thumbnials-2 a:hover, #aniimated-thumbnials-3 a:hover, #aniimated-thumbnials-4 a:hover {
  background-color: #337ab7;
}

.nav-pills>li>a {
  border: solid #ccc 1px;
  color: #333;
  font-size: 16px;
}

@media (min-width: 668px) {
.nav-pills{
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
}
}
.nav-pills>li {
  margin: 5px 10px;
}
